In [1]:
import pandas as pd
import numpy as np

KeyboardInterrupt:

In [ ]:
covid = pd.read_csv("C://Users//郝治寰//Desktop//CS506 Final Project//Checkpoint A//Covid.csv")

In [ ]:
covid

,Week Start Date,Week End Date,Confirmed deaths,Probable deaths,Confirmed and probable deaths,Confirmed cases,Probable cases,Confirmed and probable cases,Last updated
0,2023/1/8,2023/1/14,132,47,179,7075,1645,8720,2023/11/16
1,2021/10/17,2021/10/23,79,4,83,8163,699,8862,2023/11/16
2,2020/11/22,2020/11/28,153,15,168,18177,1003,19180,2023/11/16
3,2021/10/3,2021/10/9,85,2,87,9316,748,10064,2023/11/16
4,2020/4/5,2020/4/11,654,23,677,12145,30,12175,2023/11/16
...,...,...,...,...,...,...,...,...,...
190,2021/9/5,2021/9/11,78,4,82,11792,850,12642,2023/11/16
191,2023/9/10,2023/9/16,26,3,29,2686,1040,3726,2023/11/16
192,2020/11/8,2020/11/14,97,5,102,16744,846,17590,2023/11/16
193,2023/7/2,2023/7/8,7,1,8,607,239,846,2023/11/16
194,2021/12/5,2021/12/11,150,10,160,30733,2828,33561,2023/11/16

In [ ]:
covid = covid.dropna()

In [ ]:
covid = covid[["Week End Date", "Confirmed deaths", "Confirmed cases"]]

In [ ]:
covid['Week End Date'] = pd.to_datetime(covid['Week End Date'])
covid_cleaned = covid.sort_values(by='Week End Date')

In [ ]:
covid_cleaned

    Week End Date  Confirmed deaths  Confirmed cases
85     2020-02-01                 0                1
148    2020-02-08                 0                1
48     2020-03-07                 0               70
126    2020-03-14                 0              223
112    2020-03-21                 7             1717
..            ...               ...              ...
60     2023-10-14                24             1998
66     2023-10-21                31             2030
93     2023-10-28                20             1797
178    2023-11-04                22             1518
65     2023-11-11                16             1598

[195 rows x 3 columns]

In [ ]:

# Create a copy of the original DataFrame to work with
covid_year_month = covid_cleaned.copy()

# Transform 'date' column into 'year_month' format for the first DataFrame
covid_year_month['year_month'] = covid_year_month['Week End Date'].dt.to_period('M')

# Aggregate confirmed cases and confirmed deaths by year and month
covid_year_month = covid_year_month.groupby('year_month').agg({'Confirmed cases': 'sum', 'Confirmed deaths': 'sum'}).reset_index()

# Create a separate DataFrame to calculate yearly sum of cases and deaths
covid_yearly = covid_cleaned.copy()

# Extract year from 'date' column for the second DataFrame
covid_yearly['year'] = covid_yearly['Week End Date'].dt.year

In [ ]:
covid_year_month

   year_month  Confirmed cases  Confirmed deaths
0     2020-02                2                 0
1     2020-03             6902                72
2     2020-04            50483              3189
3     2020-05            39135              3696
4     2020-06             6592               688
5     2020-07             5478               208
6     2020-08             9791               148
7     2020-09            10263                98
8     2020-10            28504               229
9     2020-11            65502               457
10    2020-12           122090              1175
11    2021-01           154461              2016
12    2021-02            49773               863
13    2021-03            44163               386
14    2021-04            46273               281
15    2021-05            19597               270
16    2021-06             2592                95
17    2021-07            11632                87
18    2021-08            34398               153
19    2021-09            44982               319
20    2021-10            43868               412
21    2021-11            56359               343
22    2021-12           145201               657
23    2022-01           491064              1805
24    2022-02            51997               931
25    2022-03            20756               201
26    2022-04            65743               175
27    2022-05            92592               268
28    2022-06            43580               266
29    2022-07            49409               270
30    2022-08            33528               257
31    2022-09            32472               241
32    2022-10            36379               391
33    2022-11            19173               289
34    2022-12            44029               476
35    2023-01            27288               533
36    2023-02            16138               370
37    2023-03             8943               213
38    2023-04             6545                89
39    2023-05             3319                41
40    2023-06             2957                28
41    2023-07             3822                34
42    2023-08             6820                46
43    2023-09            13071               111
44    2023-10             8462               103
45    2023-11             3116                38

In [ ]:
covid_yearly

    Week End Date  Confirmed deaths  Confirmed cases  year  month
85     2020-02-01                 0                1  2020      2
148    2020-02-08                 0                1  2020      2
48     2020-03-07                 0               70  2020      3
126    2020-03-14                 0              223  2020      3
112    2020-03-21                 7             1717  2020      3
..            ...               ...              ...   ...    ...
60     2023-10-14                24             1998  2023     10
66     2023-10-21                31             2030  2023     10
93     2023-10-28                20             1797  2023     10
178    2023-11-04                22             1518  2023     11
65     2023-11-11                16             1598  2023     11

[195 rows x 5 columns]

In [ ]:
covid_yearly.to_csv('covid_year_cleaned.csv', index = False)
covid_year_month.to_csv('covid_year_month_cleaned.csv', index = False)